@model Cab_Project.Models.Passengers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Add-Ride !!</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="pickup" class="control-label">Pickup</label>
                <select name="pickup" asp-for="pickup" class="form-control">
                    <option value="">Select one from the options</option>
                    <option value="Anna Nagar">Anna Nagar</option>
                    <option value="Moggapair">Moggapair</option>
                    <option value="T Nagar">T Nagar</option>
                    <option value="Airport">Airport</option>
                </select>
                <span asp-validation-for="pickup" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="drop" class="control-label">Drop</label>
                <select name="drop" asp-for="drop" class="form-control">
                    <option value="">Select one from the options</option>
                    <option value="Anna Nagar">Anna Nagar</option>
                    <option value="Moggapair">Moggapair</option>
                    <option value="T Nagar">T Nagar</option>
                    <option value="Airport">Airport</option>
                </select>
                <span asp-validation-for="drop" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
