@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("/Images/Cab-Management-System.jpg");
        background-size: cover;
    }
</style>


<body>

    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
    @*<img src="/car-buy-sell.jpg" width="100%"/>*@
</body>
